.buttons{
    display: flex;
}

.operatorsBtnWrapp{
    display: flex;
    width: 150px;
    flex-wrap: wrap;
}

.numbers{
    display: flex;
    flex-direction: column;

}
.lastRow,
.numbers-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
}

.numbtn{
    width: 33.3%;
    height: 5em;
}
.operatorsBtn{
    width: 49%;
    height: 5em; 
}
.result{
    width: 98%;
}
.history{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonsWrapp{
    display: flex;
}