.buttons{
    display: flex;
}

.operatorsBtnWrapp{
    display: flex;
    width: 200px;
    flex-wrap: wrap;
}

.numbers{
    display: flex;
    flex-direction: column;

}
.lastRow,
.numbers-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
}

.numbtn{
    width: 33.3%;
    height: 5em;
}
.operatorsBtn{
    width: 49%;
    height: 5em; 
    background-color: rgb(250, 47, 47);
    color: white;
}
.result{
    width: 98%;
    background-color: brown;
}
.operatorsBtn:hover,
.result:hover{
    background-color: rgb(196, 39, 39);
}
.history{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonsWrapp{
    display: flex;
}
.xna2,
.delElement{
    z-index: 100000;
    width: 20%;
    height: auto;
}

.deleteSingleEl{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}
/* .trigonometricButtons, */
.symbolButtons{
    display: flex;
    width: 499px;
}
/* .trigonometricBtn, */
.symbolBtn{
    width: 19.9%;
}
.trigonometricButtons{
    width: 499px;
}

.trigonometricBtn{
    width: 19.9%;
}
